version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD","mysqladmin","ping","-h","127.0.0.1","-uroot","-prootpassword" ]
      interval: 5s
      timeout: 5s
      retries: 10
  app:
    build: ./NumVertification
    container_name: api
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/db?useSSL=false&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: rootpassword
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SERVER_PORT: 8080
    ports:
      - "8080:8080"
    restart: unless-stopped

  frontend:
    build: ./Frontend
    container_name: frontend
    depends_on:
      - app
    ports:
      - "80:80"

volumes:
  mysql_data:
